.side
  .user
    .user__box 
      .user__box__name
        = current_user.name
      .user__box__icons
        = link_to "/groups/new", class: "user__box__icons__new" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class: "user__box__icons__edit" do
          = icon('fa', 'cog')
  .group
    - current_user.groups.each do |group|
      .group__item
        = link_to group_messages_path(group) do
          .group__item__name
            = group.name
          .group__item__message
            メッセージはまだありません
        